@using tl2_tp09_2023_lucianobonilla27.Models;
@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
@model EditarTareaViewModel;

<style>
    /* Estilos personalizados para la paleta de colores neutra */
    body {
        background-color: #ECF0F1;
        color: #2C3E50;
    }

    h2, h4 {
        color: #3498DB;
    }

    .form-label, .form-control, .form-select, .btn-primary {
        background-color: #ECF0F1;
        border-color: #3498DB;
        color: #2C3E50;
    }

    .form-control, .form-select {
        margin-bottom: 15px;
    }

    .btn-primary:hover {
        filter: brightness(90%);
    }

    .text-danger {
        color: #E74C3C;
    }
</style>

<form asp-controller="Tarea" asp-action="EditarTarea" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label" asp-for="NombreTablero">Nombre Tablero</label>
        <select asp-for="NombreTablero" class="form-control">
            <option value="">Seleccione un tablero</option>
            @foreach (var tablero in Model.Tableros)
            {
                <option value="@tablero.Nombre">@tablero.Nombre</option>
            }
        </select>
        <span asp-validation-for="@Model.NombreTablero" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Nombre">Nombre Tarea: </label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="EstadoT">Estado: </label>
        <select asp-for="EstadoT" class="form-control">
            <option value="">Seleccione un estado</option>
            @foreach (var estado in Enum.GetValues(typeof(Tarea.Estado)))
            {
                <option value="@estado">@estado</option>
            }
        </select>
        <span asp-validation-for="@Model.EstadoT" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Descripcion">Descripción: </label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Color">Color: </label>
        <input asp-for="Color" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="@Model.IdUsuarioAsignado">Usuario Asignado</label>
        <select class="form-select" asp-for="@Model.IdUsuarioAsignado" aria-label="Default select example">
            <option value=@null></option>
            @foreach(var item in Model.Usuarios)
            {
                <option value="@item.Id">@item.NombreDeUsuario</option>
            }
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Editar Tarea</button>
</form>
