@{
    ViewData["Title"] = "Tarea Page";
}
@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@model List<IndexTareaViewModel>

<h2>Tareas List</h2>
<a asp-controller="Tarea" asp-action="CrearTarea" class="btn btn-primary">Crear Nueva Tarea</a>

<table class="table table-light">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Tablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Usuario Asignado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td hidden>@tarea.Id</td>
                <td>@tarea.NombreTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.EstadoT</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.NombreUsuarioAsignado</td>
                <td>
                    <a asp-controller="Tarea" asp-action="EditarTarea" asp-route-id="@tarea.Id" class="btn btn-primary">Editar</a>
                    <form asp-controller="Tarea" asp-action="EliminarTarea" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar la tarea?')">
                        <input type="hidden" name="id" value="@tarea.Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
