@using tl2_tp09_2023_lucianobonilla27.Models;
@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
@model CrearUsuarioViewModel;

<style>
    /* Estilos personalizados para la paleta de colores neutra */
    body {
        background-color: #ECF0F1;
        color: #2C3E50;
    }

    h2, h4 {
        color: #3498DB;
    }

    .form-label, .form-control, .form-select, .btn-primary {
        background-color: #ECF0F1;
        border-color: #3498DB;
        color: #2C3E50;
    }

    .form-control, .form-select {
        margin-bottom: 15px;
    }

    .btn-primary:hover {
        filter: brightness(90%);
    }

    .text-danger {
        color: #E74C3C;
    }
</style>

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
  <div class="mb-3">
    <label for="lbl.nombre" class="form-label" asp-for="NombreDeUsuario">Nombre de Usuario: </label>
    <input type="text" class="form-control" id="lbl.nombre" asp-for="NombreDeUsuario">
    <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>

  </div>

  <div class="mb-3">
    <label for="lbl.contrasenia" class="form-label" asp-for="Contrasenia">Contraseña: </label>
    <input type="password" class="form-control" id="lbl.contrasenia" asp-for="Contrasenia">
    <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>

  </div>

    <div class="mb-3">
    <label for="lbl.contraseniaRep" class="form-label" asp-for="ContraseniaRep">Repita la contraseña: </label>
    <input type="password" class="form-control" id="lbl.contraseniaRep" asp-for="ContraseniaRep">
    <span asp-validation-for="@Model.ContraseniaRep" class="text-danger"></span>

  </div>

  

  <div class="mb-3">
    <label for="lbl.rol" class="form-label" asp-for="RolUsuario">Rol: </label>
    <select class="form-control" id="lbl.rol" asp-for="RolUsuario">
      @foreach (var rol in Enum.GetValues(typeof(Usuario.Rol)))
      {
        <option value="@rol">@rol</option>
      }
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>
